# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.seed
*.pid.lock

# Build / Coverage
.next/
out/
coverage/
*.lcov
.nyc_output

# Node / JS
node_modules/
bower_components/
lib-cov
build/
dist/
web_modules/
jspm_packages/
.pnpm-store/
*.tsbuildinfo

# Cache
.cache/
.parcel-cache
.temp
.eslintcache
.stylelintcache
.npm
.yarn/*
.pnp.*

# Editor & OS
.DS_Store
.idea/
.vscode/
.tern-port

# Env files
.env
.env.*
!.env.example

# Supabase
.supabase/

# Anchor / Solana
target/
**/target/
.mpl-cache/

# NFT & temporäre Dateien
*.json~
*.ts~
